.affectationfonds {
    color:rgb(175, 0, 255);
}

.chanson {
    font-style:italic;
}

.feuilles {
    background-image: url(images/feuilles.png);
    background-attachment:scroll;
    background-size:repeat;
}

h1 {
    color:white;
}

p {
    color:white;
    font-size:24px;
}

.pingouin {
    background-image: url(images/pingouin.png);
    background-attachment:fixed;
    background-position:top;
    background-repeat:no-repeat;
}